{% extends "base.html" %}
{% block body %}
<p>LibChecker will iterate through items in an Amazon wishlist and show which items are available within the Hennepin County Library. It does no checking that the item is actually available for checkout immediately, just that the item is in the system.</p>

<p>This simple app is the result of a small weekend project to solve a quick issue. It is not affiliated in any way with either Amazon or the Hennepin County Library. It's incredibly fragile as neither of these two sites have an API and it relies on screen scraping (that, and it was written in a couple of evenings and has no tests!). </p>

<p>The source code for this application is available on <a href="https://bitbucket.org/wyattwalter/libchecker">BitBucket</a>.</p>
{% endblock %}