{% extends "base.html" %}
{% block body %}
  <div class="content">
    {% if error %}
     <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    {% if wishlist %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th>Title</th>
            <th>Author(s)</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
      {% for item in wishlist %}
          <tr>
            <td>{% if item.available %}<span class="glyphicon glyphicon-ok" aria-hidden="true" style="font-size: 30px; color: green;"></span>{% endif %}</td>
            <td><img src="{{ item.img }}"></img></td>
            <td>{{ item.title }}</td>
            <td>{{ item.authors }}</td>
            <td>{% if item.link %}<a href="{{ item.link }}" target="_blank">view at hclib.org</a> {% endif %}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="jumbotron" style="text-align: center;">
      <p>
        Paste the link to your public Amazon wishlist to check which items are available at the Hennepin County Library.
      </p>

      <form class="form-inline" action="/" method="post">
        <div class="form-group">
          <input type="text" class="form-control" name="wishlistUrl" placeholder="URL">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    {% endif %}
  </div>
{% endblock %}